{% extends "layout.html" %}

{% block body_attrs %} onload="Init();"{% endblock %}

{% block main %}
<div>
    {% if email_verified == False and logged_out == False %}
    <h1 class="flex justify-center text-red-500 font-mono pb-1">Check your email to verify your account</h1>
    {% endif %}
    <canvas id="canvas" class="flex justify-center m-auto" width="600" height="400"></canvas>
    <div id="counter" class="text-white font-mono flex justify-center">Time stared at cube: {{ seconds }} seconds</div>
    <div class="pb-3 flex justify-center rounded-lg">
        <label class="inline-block pr-2.5 whitespace-nowrap"><input class="align-middle rounded-lg" type="checkbox" id="xRot" onclick="Init();"><span class="align-middle pl-1 text-white font-mono">Rotate on the X axis</span></label>
    </div>
    {% if logged_out == False %}
    <div class="pb-3 flex justify-center rounded-lg">
        <button class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" type="submit" onclick="saveSeconds()">Save Score</button>
    </div>
    {% endif %}
    {% if logged_out == True %}
    <h1 class="flex justify-center pt-32 text-gray-400 font-mono">Must be signed in to save score!</h1>
    {% endif %}
</div>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/gl-matrix.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vertex-shader.js')}}"></script>
    <script src="{{ url_for('static', filename='js/fragment-shader.js')}}"></script>
    <script src="{{ url_for('static', filename='js/init-shaders.js')}}"></script>
    <script src="{{ url_for('static', filename='js/init-program.js')}}"></script>
    <script src="{{ url_for('static', filename='js/counter.js')}}"></script>
    
{% endblock %}