{% extends 'layout.html' %}

{% block main %}
<form action="/signup" method="post" class="jusitfy-center">
    <div class="pb-3 flex justify-center rounded-lg">
        <input autocomplete="off" autofocus class="rounded-lg" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="pb-3 flex justify-center rounded-lg">
        <input class="rounded-lg" id="email" name="email" placeholder="Email" type="email">
    </div>
    <div class="pb-3 flex justify-center rounded-lg">
        <input class="rounded-lg" id="backup-email" name="backup-email" placeholder="Backup Email" type="email">
    </div>
    <div class="pb-3 flex justify-center rounded-lg">
        <input class="rounded-lg" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="pb-3 flex justify-center rounded-lg">
        <input class="rounded-lg" id="password" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button class="flex justify-center rounded-full text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" type="submit">Log In</button>
</form>
{% endblock %}